@model IEnumerable<BookFast.Web.Features.Booking.ViewModels.BookingViewModel>

@{
    ViewBag.Title = "My bookings";
}

<h2>My bookings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccommodationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacilityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccommodationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
            <td>
                <a asp-action="Cancel" asp-route-id="@item.Id" asp-route-facilityId="@item.FacilityId">Cancel</a>
            </td>
        </tr>
    }
</table>