@model BookFast.Web.Features.Facility.ViewModels.FacilityDetailsViewModel

@{
    ViewData["Title"] = "Details - " + Model.Facility.Name;
    var isFacilityProvider = (await AuthorizationService.AuthorizeAsync(User, "FacilityProviderOnly")).Succeeded;
}

<h2>@Model.Facility.Name</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Facility.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facility.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Facility.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facility.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Facility.StreetAddress)
        </dd>
    </dl>
</div>
@if (isFacilityProvider)
{
    <p>
        <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Facility.Id">Edit Facility</a>
        <a class="btn btn-default" asp-action="Index">Facililty List</a>
    </p>
}

@await Html.PartialAsync("_ImageListPartial", Model.Facility.Images)

<h3>Accommodations</h3>

@if (isFacilityProvider)
{
    <p>
        <a class="btn btn-primary" asp-controller="accommodation" asp-action="Create" asp-route-id="@Model.Facility.Id">Add Accommodation</a>
    </p>
}

@if (Model.Accommodations.Any())
{
    <div>
        <table class="table">
            <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Rooms</th>
            <th></th>
            </thead>
            <tbody>
                @foreach (var accommodaiton in Model.Accommodations)
                {
                    <tr>
                        <td>@accommodaiton.Name</td>
                        <td>@accommodaiton.Description</td>
                        <td>@accommodaiton.RoomCount</td>
                        <td>
                            <a asp-controller="accommodation" asp-action="Details" asp-route-id="@accommodaiton.Id">Details</a>
                            @if (isFacilityProvider)
                            {
                                @: |
                                <a asp-controller="accommodation" asp-action="Edit" asp-route-id="@accommodaiton.Id">Edit</a>
                                @: |
                                <a asp-controller="accommodation" asp-action="Delete" asp-route-id="@accommodaiton.Id">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
